.General_div h4 {
    color: #f5f5f5;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-top: 20px;
}

.security_Copy_div {
    align-items: center;
    background-color: #04141e;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    overflow: hidden;
    width: 100%;
    max-width: 450px;
    padding: 0 16px;
    margin-top: 12px;
}

.copy_icon_div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: #072537;
    border-radius: 8px;
    cursor: pointer;
}

.security_warning_div {
    align-items: center;
    background-color: #555035;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 18px;
    line-height: 18px;
    margin-top: 20px;
    max-width: fit-content;
    padding: 10px 10px 10px 12px;
}


.QR_div {
    align-items: center;
    background-color: #04141e;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: space-between;
    max-width: 465px;
    padding: 14px 14px 13px 26px;
    width: 100%;
    margin-top: 30px;
}

.QR_div img {
    width: 166px;
    height: 166px;
    border-radius: 8px;
}