.navcoinselect{
    width: auto;
    padding: 5px 12px;
    background-color: var(--secondary-background);
    border-radius: 10px;
}
.nav_select{
    display: flex;
    gap: 18px;
    align-items: center;
}
.nav_select_left{
    cursor: pointer;
    display: flex;
    gap: 8px;
}
.allnav_coin{
    width: 200px;
    height: 400px;
    position: absolute;
    z-index: 99999999999999999999999;
    background-color: red;
}