.casino_maindiv {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100vh - 70px);
}

/* Scrollbar styling for WebKit-based browsers (Chrome, Safari) and Microsoft Edge */
.casino_maindiv::-webkit-scrollbar {
    width: 5px;
    /* Adjust the width of the scrollbar */
}

.casino_maindiv::-webkit-scrollbar-track {
    background: #072537;
    /* Color of the track */
}

.casino_maindiv::-webkit-scrollbar-thumb {
    background-color: #072537 !important;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

/* Scrollbar styling for Firefox */
.casino_maindiv {
    scrollbar-width: none;
    scrollbar-color: #072537 #04141E;
}

.casino_maindiv {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}


/* .casino_div {
    padding: 0 40px;
    margin: 40px 0 0 0;
} */


.casino_heading {
    font-size: var(--mainHeading-font-size);
    color: var(--mainHeading-color);
    font-weight: var(--mainHeading-font-weight);
    margin: 40px 40px;
}


/* casino lobby */


.casinolobby_category_div {
    width: 100%;
    height: auto;
    padding: 6px;
    background: #072537;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
}

.casinolobby_categery_button div {
    white-space: nowrap;
}

.casinolobby_categery_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 20px;
    gap: 8px;
    border-radius: 10px;
    font-size: var(--category-font-size);
    color: var(--category-color);
    font-weight: var(--category-font-weight);
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.casinolobby_search_div {
    width: 100%;
    display: flex;
    margin-bottom: 40px;
}

.casinolobby_search_div div {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #072537;
    border-radius: 10px 0px 0px 10px;
}

.casinolobby_search_div div img {
    width: 18px;
    height: 18px;
}


.casinolobby_search_div input {
    width: 100%;
    border-radius: 0px 10px 10px 0px;
    outline: none;
    border: none;
    background: #072537;
    color: white;
}

.casinolobby_search_div input::placeholder {
    color: #8CA3B8;
}