:root {
  /* color */
  --secondary-background: #04141E;
  --primary-background: #072537;
  --icon-background: #223e51;
  --active-background: #455b70;
  /* Main Heading ( 36px ) */
  --mainHeading-font-size: 36px;
  --mainHeading-color: #f5f5f5;
  --mainHeading-font-weight: 700;

  /* sub Heading  ( 24px ) */
  --subHeading-font-size: 24px;
  --subHeading-color: #f5f5f5;
  --subHeading-font-weight: 700;
  --subHeading-line-height: 24px;

  /*   Heading  ( 16px ) */
  --category-font-size: 16px;
  --category-color: #f5f5f5;
  --category-font-weight: 500;
  --category-line-height: 16px;

  /*   Normal  ( 14px ) */
  --normal-font-size: 14px;
  --normal-font-color: #8ca3b8;
  --normal-font-weight: 500;
  --normal-font-height: 14px;

  /*  normal-btn-size ( 14px ) */
  --normal-btn-font: 14px;
  --normal-font-weight: 500;
  --normal-font-height: 14px;
  /* large-btn-size ( 16px ) */
  --normal-btn-font: 16px;
  --normal-font-weight: 700;
  --normal-font-height: 16px;
  /* btn-color */
  --btn-color: #0099f4;

  /* btn-hover */
  --btn-hovercolor: #00a0ff;


  /*   small  ( 12px ) */
  --small-font-size: 12px;


  /*   Border-color  ( 14px ) */
  --border-color: #293c53;




  /*   button-color  ( 14px ) */

  --button-color: #00A0FF;
  /* font color */
  --primary-font-color: #8CA3B8
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #04141e;
  font-size: 14px;
  color: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  z-index: -1;
}

.btn {
  padding: 10px 12px;
  background-color: var(--btn-color);
  border: none;
  outline: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 16px;
}

.btn:hover {
  background-color: var(--btn-hovercolor);
}

.sub-heading {
  font-size: var(--subHeading-font-size);
  color: var(--subHeading-color);
  font-weight: var(--subHeading-font-weight);
  display: flex;
  align-items: center;
}

.casinolobby_categery_button img {
  width: 16px;
  height: 16px;
  fill: white !important;
  color: white !important;
}

.viewall {
  font-size: 16px;
  font-weight: 700;
  color: #00A0FF;
  margin-left: 12px;
  cursor: pointer;
}

.sidebar_link {
  text-decoration: none;
  color: #8CA3B8;
  font-size: 14px;
  font-weight: 500;
}



@media screen and (min-width: 1800px) {
  .Footer_div {
    width: 1136px !important;
    margin: 40px auto auto auto !important;
  }

  .homescreen_div {
    width: 1136px !important;
  }

  .homebanner_div {
    width: 1136px !important;
    margin: 40px auto !important;
  }

  .gotoCard_maindiv {
    width: 1136px !important;
    margin: 80px auto 40px auto !important;
  }

  .HomePayBanner_div {
    width: 1056px !important;
    margin: 80px auto !important;
  }

  .home_table_div {
    margin: auto auto 80px auto;
    width: 1136px !important;
  }

  .bet_table_div {
    width: 1136px !important;
    margin: 0 auto;
  }

  .HomeParagraph_div {
    width: 1056px !important;
    margin: 0 auto;
  }

  .ogcard_maindiv {
    width: 1056px !important;
    margin: 0 auto;
  }

  .casinolobby_div {
    margin: 0 auto;
    width: 1056px !important;
  }

  .slider-container {
    width: 1056px !important;
    margin: 26px auto 40px auto;
  }

  .casino_heading {
    width: 1056px !important;
    margin: 40px auto;
  }

}

.swiper {
  z-index: 0 !important;
}

.swiper-wrapper {
  z-index: 0 !important;
}